/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --Lightred: hsl(0, 100%, 67%);
    --Lightred-alpha: hsl(0, 100%, 67%, 0.1);
    /* // Primary */
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Orangeyyellow-alpha: hsl(39, 100%, 56%, 0.1);
    --Greenteal: hsl(166, 100%, 37%);
    --Greenteal-alpha: hsl(166, 100%, 37%, 0.1);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Cobalt-blue-alpha: hsl(234, 85%, 45%, 0.1);
    /*  Gradients (background) */
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royalblue: hsl(241, 81%, 54%);
    /* //(circle) */
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    /* neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
    --Dark-gray-blue-alpha: hsl(224, 30%, 27%, 0.5);
    /* fonts */
    --Hanken-Grotesk-family: "Hanken Grotesk", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: aqua; */
    margin: auto;
    box-sizing: border-box;
    font-family: var(--Hanken-Grotesk-family);
    font-size: 14px;
}

/* Mobile */
.container {
    width: 375px;
    box-shadow: 0 10px 15px -3px var(--Dark-gray-blue);
    margin: 0 auto;
}

.container__first-result {
    /* background-color: aqua; */
    background: linear-gradient(#7857FF, 10%, #2E2BE9);
    height: 356px;
    padding: 32px 40px 0 40px;
    text-align: center;
    border-radius: 0 0 24px 24px;
}

.container__first-result__title {
    margin-bottom: 24px;
    color: var(--Light-lavender);
    font-size: 18px;
}

.container__first-result__title-card {

    background: linear-gradient(#7857FF, 10%, #2E2BE9);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: 4px 0 14px 0;
    margin: 0 auto;
    display: grid;
    text-align: center;

}

.container__first-result__title-card-76 {
    font-family: var(--Hanken-Grotesk-family);
    color: var(--White);
    font-size: 4em;
    font-weight: 700;
    margin: 18px 24px 8px;
    padding: auto;
    line-height: 34px;

}

.container__first-result__title-card-100 {
    color: var(--Light-lavender);
    /* place-content: center; */
    margin: 18px 24px 8px;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    padding-bottom: 10px;
}

.container__first-result__title-card__title {
    color: var(--White);
    font-size: 18px;
    margin: 18px 24px 8px;
}

.container__first-result__title-card__description {
    color: var(--Light-lavender);
    font-size: 14px;
    text-align: center;
    margin: 18px 24px 8px;
}

.container__summary {
    padding: 32px;
    height: 454px;
}

.container__summary-title {
    font-size: 18px;
}

.container__statistics-reaction {
    background-color: var(--Lightred-alpha);
    display: flex;
    place-content: space-between;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 16px;
    height: 54px;
    align-items: center;
}

.container__statistics__reaction-icon-rection {
    color: var(--Lightred);
    display: flex;
    gap: 8px;
}

.container__statistics-reaction__number-100 {
    color: var(--Dark-gray-blue-alpha);
}

.container__statistics-memory {
    background-color: var(--Orangeyyellow-alpha);
    display: flex;
    place-content: space-between;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 16px;
    height: 54px;
    align-items: center;
}

.container__statistics__memory-icon-memory {
    color: var(--Orangeyyellow);
    display: flex;
    gap: 8px;
}

.container__statistics-verbal {
    background-color: var(--Greenteal-alpha);
    display: flex;
    place-content: space-between;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 16px;
    height: 54px;
    align-items: center;
}

.container__statistics__verbal-icon-verbal {
    color: var(--Greenteal);
    display: flex;
    gap: 8px;
}

.container__statistics-visual {
    background-color: var(--Cobalt-blue-alpha);
    display: flex;
    place-content: space-between;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 16px;
    height: 54px;
    align-items: center;
}

.container__statistics__visual-icon-visual {
    color: var(--Cobalt-blue);
    display: flex;
    gap: 8px;
}

.container__summary__btn-continue {
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    width: 100%;
    height: 56px;
    border-radius: 24px;
    font-size: 18px;
}

.container__summary__btn-continue:hover {
    background-color: var(--Light-royalblue);
}

.atribution{
    text-align: center;
    font-size: 20px;
}

/* Desktop */
@media (min-width: 768px) {
    .container {
        width: 740px;
        height: 512px;
        display: flex;
        margin: 175px auto 75px;
        border-radius: 15px;
    }

    .container__first-result {
        width: 370px;
        height: 100%;
        border-radius: 15px;
        padding-top: 48px;
    }

    .container__first-result__title {
        margin-bottom: 40px;
    }

    .container__first-result__title-card {
        margin-bottom: 40px;
    }

    .container__first-result__title-card-76 {
        font-size: 48px;
        line-height: 1;
    }

    .container__first-result__title-card__title {
        margin-bottom: 24px;
    }

    .container__first-result__title-card__description {
        font-size: 20px;
        line-height: 28px;
    }

    .container__summary {
        width: 370px;
        padding: 56px 40px 56px 40px;
    }

    .container__summary-title {
        font-size: 24px;
        line-height: 32px;
    }

    .container__statistics-reaction {
        font-size: 20px;
        line-height: 28px;
        padding: 0 16px 0 16px;
    }

    .container__statistics-memory {
        font-size: 20px;
        line-height: 28px;
        padding: 0 16px 0 16px;
    }

    .container__statistics-verbal {
        font-size: 20px;
        line-height: 28px;
        padding: 0 16px 0 16px;
    }

    .container__statistics-visual {
        font-size: 20px;
        line-height: 28px;
        padding: 0 16px 0 16px;
    }

}